:root {
    --theme-color: #03a9f4;
}
body {
    font-size: 18px;
}
section {
    padding: 4vw 0;
}
figure {
    text-align: center;
}
figure img {
    max-height: 400px;
}
.fa-brands {
    color: black;
}
span {
    font-weight: bold;
}
.card {
    margin: 2vw 0;
}
.card-action a{
    color: var(--theme-color) !important;
}
.equal-height {
    display: flex;
    flex-wrap: wrap;
}
.equal-height .col {
    display: flex;
    align-items: center;
}
.tabs .indicator {
    background-color: var(--theme-color);
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
.valign-content {
    margin: auto;
}
.parallax-container {
    height: 300px;
}
.input-field .prefix.active {
    color: var(--theme-color);
}
.input-field :focus + label {
    color: var(--theme-color) !important;
}
.input-field :focus{
    border-bottom: 1px solid var(--theme-color) !important;
}
.material-icons {
    display: inline;
    vertical-align: text-bottom;
}
