body {
    font-size: 18px;
}
section {
    padding: 4vw 0;
}
figure {
    text-align: center;
}
figure img {
    max-height: 400px;
}
.fa-brands {
    color: black;
}
span {
    font-weight: bold;
}
.card {
    margin: 2vw 0;
}
.equal-height {
    display: flex;
    flex-wrap: wrap;
}
.equal-height .col {
    display: flex;
    align-items: center;
}
.tabs .indicator {
    background-color: #03a9f4;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
.valign-content {
    margin: auto;
}
.parallax-container {
    height: 300px;
}
.input-field .prefix.active {
    color: #03a9f4;
}
.input-field :focus + label {
    color: #03a9f4 !important;
}
.input-field :focus{
    border-bottom: 1px solid #03a9f4 !important;
}
.material-icons {
    display: inline;
    vertical-align: text-bottom;
}
